.row {
    padding: 20px;
    background-color: dimgrey;
    border: 1px solid #000;
    border-radius: 5px;
}

div {
   /* background-image: url(/assets/img/educacion.jpg);*/
  
    height:auto;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    
}

h2,h5 {display:block ;}

.btn1 {
    display: inline;
    margin-left:90% ;
}