<div class="row">
    <h1>Proyectos Realizados</h1>
 
    <div class="btn1">
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#proyectos">
            <i class="fa-regular fa-pen-to-square fa-xl"> </i>
        </button>

          <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#sobreMi">
            <i class="bi bi-trash3 fa-xl"></i>
        </button>
<app-m-proyectos></app-m-proyectos>
            
    </div>

    <div class="conteiner">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Proyecto 222</h1>
       
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur a quis cumque dicta, distinctio corporis? Eligendi facilis omnis beatae optio fugit hic repellat, exercitationem odio obcaecati cumque itaque sed.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md 1 offset-lg 1 parte2"><!--offset lo que a hace es separa una columna en md -->
        <img src="../../assets/img/habilidades.jpg" class="img-fluid img-proyect">

    </div>
    </div>

</div>
