
    <nav class="navbar">

        <img src="./assets/img/logo-negro.svg" alt="">
  
  
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-brands fa-facebook fa-xl"></i></li>
          <li class="list-group-item"><i class="fa-brands fa-instagram fa-xl"></i></li>
          <li class="list-group-item"><i class="fa-brands fa-linkedin fa-xl"></i></li>
  
          <!--boton de edicion-->
          <!-- Button trigger modal -->
          <li class="list-group-item"><i class="fa-solid fa-user-pen fa-xl" type="button" data-bs-toggle="modal"
              data-bs-target="#login"></i>
          </li>
        </ul>
    </nav>
<app-m-login></app-m-login>
    <!--module-->
       