<!-- Modal Educacion -->

<div class="modal fade" id="proyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Proyectos </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

          <div class="modal-body">

        <div class="input-group">

          <div class="col-12">
                     
            <input type="text" formControlName="titulo" class="form-control" id="" placeholder="Titulo"><br>
              
            <div *ngIf="Titulo?.errors  && Titulo?.touched">    
              <p *ngIf="Titulo?.hasError('required')" class="error">
                  El Titulo es requerido.
              </p>                                  
            </div> 
           
            <textarea placeholder="Descripcion" formControlName="descripcion" class="form-control" aria-label="With textarea"></textarea><br>
          
            <div *ngIf="Descripcion?.errors  && Descripcion?.touched">    
              <p *ngIf="Descripcion?.hasError('required')" class="error">
                  La Descripcion es requerido.
              </p>                                  
            </div> 


            <div class="input-group mb-3">
             <input type="file" class="form-control" id="inputGroupFile02">
             <label class="input-group-text" for="inputGroupFile02">Subir</label>
            </div>

          </div>
         
        </div>

          </div>
      
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
          </div>

    
      </form>  

    </div>22
    
  </div>33

  
</div>44
