<div class="row">
   
    <h1>Experiencia Laboral</h1>

    <div class="btn1">
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#experiencia">
            <i class="fa-regular fa-pen-to-square fa-xl"> </i>
          </button>
          <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#experiencia">
            <i class="bi bi-trash3 fa-xl"></i>
        </button>

         <app-m-esperiencia></app-m-esperiencia>
    
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul *ngFor="let experiencia of experiencia">
            <li>
               <h2>{{experiencia.empresa}}</h2><br>
               <h3>{{experiencia.periodo}}</h3>
               <p>{{experiencia.descripcion}}</p> 
            </li>
        
        </ul>
       
        
    </div>
</div>

<!----------------------------------------------------->


