<div class="row">
    
    <div class="btn1">
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#educacion">
            <i class="fa-regular fa-pen-to-square fa-xl"> </i>
          </button>
          <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#sobreMi">
            <i class="bi bi-trash3 fa-xl"></i>
        </button>
        </div>
        
<h1> Hard & Soft Skill</h1>
        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
        
        <circle-progress
        [percent]="85"
        [radius]="80"
        [title]="'Html'"
        [imageSrc]="'../assets/iconos/html.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2e73db'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
         ></circle-progress>
         
        </div>

        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
        
            <circle-progress
            [percent]="85"
            [radius]="80"
            [title]="'Html'"
            [imageSrc]="'../assets/iconos/css3.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2e73db'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
             ></circle-progress>
             
        </div>
        
        <div class="text-center col-xs-2 col-md-4 col-lg-3 " ><!--jp 1-->
        
                <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'Html'"
                [imageSrc]="'../assets/iconos/js 1.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#2e73db'"
                [innerStrokeColor]="'#ffffff'"
                [animation]="true"
                [animationDuration]="600"
                 ></circle-progress>
                 
        </div>    

        <div class="text-center col-xs-2 col-md-4 col-lg-3 " ><!--booststrap-->
        
            <circle-progress
            [percent]="85"
            [radius]="80"
            [title]="'Html'"
            [imageSrc]="'../assets/iconos/bootstrap.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2e73db'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
             ></circle-progress>
             
        </div>

        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
        
            <circle-progress
            [percent]="85"
            [radius]="80"
            [title]="'Html'"
            [imageSrc]="'../assets/iconos/node 1.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2e73db'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
             ></circle-progress>
             
        </div>
    
        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
            
                <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'Html'"
                [imageSrc]="'../assets/iconos/php.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#2e73db'"
                [innerStrokeColor]="'#ffffff'"
                [animation]="true"
                [animationDuration]="600"
                 ></circle-progress>
                 
        </div>
            
        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
            
                    <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [title]="'Html'"
                    [imageSrc]="'../assets/iconos/mysql.png'"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [showImage]="true"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#2e73db'"
                    [innerStrokeColor]="'#ffffff'"
                    [animation]="true"
                    [animationDuration]="600"
                     ></circle-progress>
                     
        </div>    
    
        <div class="text-center col-xs-2 col-md-4 col-lg-3 " >
            
                <circle-progress
                [percent]="85"
                [radius]="80"
                [title]="'Html'"
                [imageSrc]="'../assets/iconos/davinci.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#2e73db'"
                [innerStrokeColor]="'#ffffff'"
                [animation]="true"
                [animationDuration]="600"
                 ></circle-progress>
                 
        </div>
              
</div>
